

<div class="navbar-menu m-2 has-background-success-dark">
  <div class="navbar-start">
    <figure class="image is-128x128">
      <img src="../../assets/logoY.jpeg">
    </figure>
  </div>

  <div class="navbar-item is-size-1 has-text-white-bis has-text-centered" style="margin: auto; padding-right: 11rem;">
    Farmacia YUVONE
  </div>
</div>
<div class="tabs is-centered is-toggle is-fullwidth">
  <ul>
    <li>
      <a routerLink="/items" routerLinkActive="active" class="has-background-success has-text-white-bis">
        <span class="icon is-small"><i class="fas fa-clinic-medical" aria-hidden="true"></i></span>
        <span>Protocolos</span>
      </a>
    </li>
    <li>
      <a routerLink="/colaboradores" routerLinkActive="active" class="has-background-success has-text-white-bis">
        <span class="icon is-small"><i class="fas fa-address-book" aria-hidden="true"></i></span>
        <span>Colaboradores</span>
      </a>
    </li>
    <li>
      <a routerLink="/servicios" routerLinkActive="active" class="has-background-success has-text-white-bis">
        <span class="icon is-small"><i class="fas fa-briefcase" aria-hidden="true"></i></span>
        <span>Servicios</span>
      </a>
    </li>
    <li>
      <a routerLink="/clientes" routerLinkActive="active" class="has-background-success has-text-white-bis">
        <span class="icon is-small"><i class="fas fa-address-card" aria-hidden="true"></i></span>
        <span>Clientes</span>
      </a>
    </li>
    <li>
      <a routerLink="/panel" routerLinkActive="active" class="has-background-success has-text-white-bis">
        <span class="icon is-small"><i class="fas fa-home" aria-hidden="true"></i></span>
        <span>Panel</span>
      </a>
    </li>
  </ul>
</div>
